* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto ;
}

.col {
    width: calc(100% / 5);
    height: 100px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}